Architecture: amd64
Depends: libqt5core5a,
         libqt5gui5,
         libqt5network5,
         libqt5widgets5
Maintainer: f83043e79dc03a0abfbcbc376879a97d66f2cacb@protonmail.ch
Package: QtChess
Priority: optional
Section: Games
Version: 2024.12.04
Description: QtChess
 Welcome to QtChess!
 QtChess is governed by a BSD license. Enjoy!
