Architecture: amd64
Depends: libqt6core6t64,
	 libqt6gui6t64,
	 libqt6network6t64,
	 libqt6widgets6t64
Maintainer: f83043e79dc03a0abfbcbc376879a97d66f2cacb@protonmail.ch
Package: QtChess
Priority: optional
Section: Games
Version: 2025.05.19
Description: QtChess
 Welcome to QtChess!
 QtChess is governed by a BSD license. Enjoy!
